<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Polititalk</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/chat.css">
</head>

<body>
  <div class="container-fluid">
    <div class="chat_window">
      <ul class="messages"></ul>
      <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
        <div class="send_message">
          <div class="icon"></div>
          <div class="text">Send</div>
        </div>
      </div>
    </div>
    <div class="message_template">
      <li class="message">
        <div class="text_wrapper">
          <div class="text"></div>
        </div>
      </li>
    </div>
  </div>

  {% if session.status == "wait" %}
  <div id="waitModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Waiting for a partner</h4>
        </div>
        <div class="modal-body">
          <center>
            <h3>Waiting for a conversation partner...</h3>
            <p>
              We have determined that you lean {{ session.leaning }}. Please keep this page
              open while we search for a {{ session.opposite }}-minded partner for you to
              converse with.
            </p>
          </center>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %}

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/newest_chat.js"></script>
  <script src="/static/js/socket.io.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/js/new_client.js"></script>
</body>

</html>
